$accentButtonsBackground:#66BB6A;
$baseTextDark:#3c3c3c;
$baseButtonBackground:rgb(255, 149, 0);
$cardBackground:rgba(255, 149, 0, 0.485);
$baseTextLight:#fff;
$opacityDark:rgba(0, 0, 0, 0.45);
$opacityLight:rgba(255, 255, 255, 0.683);